.octopus{
	position: relative;
	margin-top: 200px;
	margin-left: 500px;
}
.hat{
	position: relative;
	left: 485px;
	bottom:370px;
}
.glasses{
	position: relative;
	left:546px;
	bottom:360px;

}